# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Tests
/coverage

# IDEs
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variables — NEVER commit to git
.env
.env.local
.env.production

# MongoDB data (Docker volume)
/mongo
